body {
	color: #333;
	font-family: "Work Sans", "Helvetica", Arial, sans-serif;
	font-size: 18px;
}

h1 {
	font-size: 2.5em;
	margin: 0;
	margin-bottom: .5em;
	font-weight: bold;
}

label {
	display: inline-block;
}

#form {
	line-height: 2em;
	padding-left: 20px;
	padding-right: 20px !important;
}

#form .rad-btn {
	clear: both;
	margin-bottom: 10px;
}

#form label {
	color: #fff;
	width: 300px;
	font-size: 1.25em;
	background-color: #09f;
	border-radius: 4px;
	text-align: center;
}

#form label:hover {
	background-color: #3cf;
}

#form input[type="radio"] {
	display: none;
}

#form input[type="radio"]:checked ~ label {
	background-color: #3cf;
}

#form input[type="submit"] {
	background-color: #fff;
	width: 300px;
	font-size: 1.25em;
	font-family: "Work Sans", "Helvetica", Arial, sans-serif;
	line-height: 1.5em;
	border: none;
	border: solid 1px #06f;
	border-radius: 4px;
}

#form input[type="submit"]:hover {
	background-color: #09f;
	color: #fff;
}

